<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <title>Office Management</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Office Management system</h1>
      <hr />
      <a class="btn btn-primary" href="/view" role="button"
        >View All Employee</a
      >
      <a class="btn btn-primary" href="/add" role="button">Add An Employee</a>
      <a class="btn btn-primary" href="/remove" role="button"
        >Remove An Employee</a
      >
      <a class="btn btn-primary" href="/details" role="button"
        >Filter Employee Details</a
      >
    </div>
  </body>
</html>
